// Abstract Files
@import "abstract/_mixins";
@import "abstract/_variables";

// Core Files
@import "core/_reset";
@import "core/_typography";

// Components Files
@import "components/_banner";
@import "components/_buttons";
@import "components/_loader";

// Layout Files
@import "layout/_header";
@import "layout/_footer";
@import "layout/_hero";

// Section Files
@import "sections/_cta";
@import "sections/_explanations";
@import "sections/_restaurants";
@import "sections/_menu-list";

body {
  font-family: $body-font;
}

a {
    text-decoration: none;
}