footer {
  height: 150px;
  padding: 24px;
  background-color: $dark-gray;
  & li {
    margin: 10px 0;
  }
  & a, i {
    color: $white;
  }
  & i {
    font-size: 16px;
    margin-right: 8px;
  }
  & #handshake-ic {
    font-size: 14px;
    margin-right: 6px;
  }
  & img {
    width: 100px;
    margin: 4px 0 8px 0;
    filter: invert(1);
  }
}