/.idea/.gitignore
/.idea/modules.xml
/.idea/oh-my-food-app.iml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/public/css/main.css.map
/.idea/
.DS_Store
public/.DS_Store
public/images/.DS_Store

/maquettes/Accueil.png
/maquettes/Animations/Animation - Page Menu - Apparition progressive.mp4
/maquettes/Animations/Animation - Page Menu - Sélection d_un plat.mp4
/maquettes/Menu - La note enchantée.png
/maquettes/Menu - La palette du goût.png
/maquettes/Menu - Le délice des sens.png
/maquettes/Menu - À la française.png
