// Main Colors
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

// Grays
$light-gray: #F7F7F7;
$mid-gray: #EAEAEA;
$dark-gray: #353535;

// Gradients
$gradient1: $primary 12%,$secondary 92%;
$ic-bg-gradient: linear-gradient(to top,$primary 0%, $secondary 100%);

// Others
$white: #FFFFFF;
$max-width: 920px;