.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  color: $dark-gray;
  background-color: $mid-gray;
  &__items {
    display: flex;
    width: 160px;
  }
  &__location {
    font-size: $h4-size;
    font-weight: $font-weight-semibold;
    color: lighten($dark-gray, 10%);
    margin-left: 18px;
  }
}