.menu-list {
  position: relative;
  top: -55px;
  border-radius: 34px 34px 0 0;
  margin-bottom: -55px;
  padding-bottom: 34px;
  background-color: $light-gray;
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 38px 14px 0 14px;
    & h1 {
      font-size: calc($h2-size + 4px);
      font-weight: $font-weight-semibold;
      font-family: $header-font;
      color: $dark-gray;
    }
    & i {
      font-size: 24px;
      margin-right: 16px;
      color: transparent;
      transition: .4s ease;
      background-position-y: 100px;
      background-repeat: no-repeat;
      background-image: $ic-bg-gradient;
      -webkit-background-clip: text;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $dark-gray;
      animation: like 0.5s 1;
      &:hover {
        background-position: 0;
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: transparent;
      }
    }
  }
  &__section{
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    padding: 0 14px;
    color: $dark-gray;
    & .section-title {
      font-size: calc($h5-size + 2px);
      font-weight: $font-weight-normal;
      font-family: $body-font;
      text-transform: uppercase;
      margin-bottom: 10px;
      &:after {
        content: '';
        display: block;
        width: 40px;
        height: 3px;
        background-color: $tertiary;
        margin-top: 6px;
      }
    }
    &:nth-last-child(n) {
      margin-bottom: 34px;
    }
  }
  &__item {
    position: relative;
    margin: 6px 0;
    border-radius: 14px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: $tertiary;
    animation: .3s ease-in appearIn;
    cursor: pointer;
    overflow: hidden;
    &:hover > .menu-list__item__content  {
      width: 82%;
    }
    & .fa-circle-check {
      z-index: 5;
      position: absolute;
      right: 16px;
      top: 36%;
      font-size: 24px;
      color: $white;
    }

    &__content {
      z-index: 15;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      padding: 12px;
      transition: width 0.3s ease-in;
      box-sizing: border-box;
      background-color: $white;
    }
    & .description-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__name {
      font-size: calc($h4-size);
      font-weight: $font-weight-semibold;
      font-family: $body-font;
      margin: 6px 0;
      height: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &__description {
      font-size: calc($body-font-size + 2px);
      font-weight: $font-weight-normal;
      font-family: $body-font;
      color: lighten($dark-gray, 20%);
      height: 18px;
      margin-right: 2px;
      margin-bottom: 6px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &__price {
      font-size: calc($body-font-size + 2px);
      font-weight: $font-weight-bold;
      font-family: $body-font;
      margin-bottom: 6px;
    }
  }
  & .main-button {
    text-align: center;
    margin: 0 auto;
  }
}

@-webkit-keyframes like {
  0%   { transform: scale(1); }
  90%   { transform: scale(1.4); }
  100% { transform: scale(1.2); }
};

@-webkit-keyframes appearIn {
  from { opacity: 0; top: 20px; }
  to { opacity: 1; top: 0; }
}