.menu-list {
  position: relative;
  top: -55px;
  height: 400px;
  border-radius: 34px 34px 0 0;
  background-color: $light-gray;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 38px 14px 0 14px;
    & h2 {
      font-size: calc($h2-size + 4px);
      font-weight: $font-weight-semibold;
      font-family: $header-font;
      color: $dark-gray;
    }
    & i {
      font-size: 24px;
      margin-right: 16px;
      color: transparent;
      transition: .4s ease;
      background-position-y: 100px;
      background-repeat: no-repeat;
      background-image: $ic-bg-gradient;
      -webkit-background-clip: text;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $dark-gray;
      animation: like 0.5s 1;
      &:hover {
        background-position: 0;
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: transparent;
      }
    }
  }
}

@-webkit-keyframes like {
  0%   { transform: scale(1); }
  90%   { transform: scale(1.4); }
  100% { transform: scale(1.2); }
}