.restaurants {
  padding: 60px 20px 40px 20px;
  background-color: $light-gray;
  &__card-list {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    & a {
      text-decoration: none;
      margin-top: 20px;
      color: $dark-gray;
    }
    & a:nth-child(1) {
      margin-top: 0;
    }
    &__item {
      width: 100%;
      position: relative;
      height: 256px;
      border-radius: 15px;
      overflow: hidden;
      background-color: $white;
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
      & img {
        width: 100%;
        height: 70%;
        object-fit: cover;
      }
      &__badge {
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px 12px;
        margin: 14px;
        border-radius: 3px;
        font-size: calc($font-size-small + 2px);
        font-weight: $font-weight-semibold;
        color: darken($tertiary, 35%);
        background-color: $tertiary;
      }

      &__caption {
        display: flex;
        position: relative;
        height: 30%;
        flex-direction: column;
        justify-content: center;
        padding: 0 14px;
        & h2 {
          font-size: $h4-size;
          margin-bottom: 6px;
        }
        & span {
          font-size: calc($h4-size - 1px);
          color: lighten($dark-gray, 20%);
        }
        & i {
          position: absolute;
          font-size: 24px;
          top: 32%;
          right: 22px;

          color: transparent;
          transition: .4s ease;
          background-position-y: 100px;
          background-repeat: no-repeat;
          background-image: $ic-bg-gradient;
          -webkit-background-clip: text;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: $dark-gray;
          &:hover {
            background-position: 0;
            -webkit-text-stroke-width: 0;
            -webkit-text-stroke-color: transparent;
          }
        }
      }
    }
  }
}